In [1]:
#import modules
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# Make a reference to the purchase_data.csv file path
csv_path = "HeroesofPymoli/Resources/purchase_data.csv"

# Import the purchase_data.csv file as a DataFrame
purchase_df = pd.read_csv(csv_path, encoding="utf-8")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Rename the headers to be more explanatory
purchase_df = purchase_df.rename(columns={"SN": "Player Name"})
purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_df["Player Name"].unique())

print ("Total Players")
player_count

Total Players

576

In [5]:
player_df = purchase_df.drop_duplicates(subset = "Player Name", keep = 'first')
player_df.describe()
player_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576 entries, 0 to 778
Data columns (total 7 columns):
Purchase ID    576 non-null int64
Player Name    576 non-null object
Age            576 non-null int64
Gender         576 non-null object
Item ID        576 non-null int64
Item Name      576 non-null object
Price          576 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 36.0+ KB

In [7]:
#Gender Demographics
    #Percent and Count of Male Players
    #Percent and Count of Female Players
    #Percent and Count of Other/Non-disclosed Players
    
#create gender variables, using the player_df data frame
gender_count = player_df["Gender"].value_counts()
total_count = gender_count.sum()
total_count
player_pct = gender_count/total_count
#player_pct.map"{0:.2f}%.format"

#create summary table
gender_summary_table = pd.DataFrame({"Total Count": gender_count,
                                    "Pct of Players": player_pct})#.map("{0:,.2f}").format})
#gender_summary_table.info()
gender_summary_table.head()

                       Total Count  Pct of Players
Male                           484        0.840278
Female                          81        0.140625
Other / Non-Disclosed           11        0.019097

In [ ]:
#calculate the number of unique items
items_unique = len(purchase_df["Item ID"].unique())

#calculate the average purchase price
purchase_avg = purchase_df["Price"].mean()

#calculate the total number of purchases
purchase_count = purchase_df["Purchase ID"].count()

#calculate total revenue
total_rev = purchase_df["Price"].sum()

#create summary table, must pass an index at end
purchase_summary_table = pd.DataFrame({"Number of Unique Items": items_unique,
                                      "Average Price": purchase_avg,
                                      "Total Purchases": purchase_count,
                                      "Total Revenue": total_rev}, index=[0])

#purchase_summary_table.info()
purchase_summary_table.head()

In [ ]:
#Purchase analysis (by gender)
    #Run basic calculations to obtain 
        #purchase count, 
        #avg. purchase price, 
        #avg. purchase total per person etc. by gender
    
    #Create a summary data frame to hold the results
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame

gender_group = purchase_df.groupby(["Gender"])

purchase_cnt = gender_group["Item ID"].count()
purchase_sum = gender_group["Price"].sum()
avg_purchase_price = purchase_sum/purchase_cnt

player_cnt = gender_group["Player Name"].count()
avg_purchase_person = purchase_sum/player_cnt

#gender_group.head()

In [ ]:
#create a summary table
purchase_gender_summary_table = pd.DataFrame({"Purchase Count": purchase_cnt,
                                            "Average Purchase Price": avg_purchase_price,
                                            "Total Purchase Value": purchase_sum,
                                            "Total Avg Purchase per Person": avg_purchase_person})
                                            
                                            #["{0:.2f}%.format"]})
purchase_gender_summary_table.info()
purchase_gender_summary_table.head()

In [ ]:
#Age Demographics

    #Establish bins for ages
    #[<10, 14, 19, 24, 29, 34, 39, 40]

    #Categorize the existing players using the age bins. Hint: use pd.cut()

    #Calculate the numbers and percentages by age group

    #Create a summary data frame to hold the results

    #Optional: round the percentage column to two decimal points

    #Display Age Demographics Table

# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the four bins
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=age_group)

player_df.info()
player_df.head()

In [ ]:
#create age group variables, using the player_df data frame
agegrp_count = player_df["Age Group"].value_counts()
total_count = agegrp_count.sum()
total_count

agegrp_pct = agegrp_count/total_count

#create summary table
agegrp_summary_table = pd.DataFrame ({"Total Count": agegrp_count,
                                    "Pct of Players": agegrp_pct})#["{0:.2f}%.format"]})
agegrp_summary_table.info()
agegrp_summary_table

In [ ]:
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=age_group)

purchase_df.info()
purchase_df.head()

In [ ]:
#Purchasing Analysis (Age)
    #Bin the purchase_data data frame by age
    #Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
    #Create a summary data frame to hold the results
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame

age_group = purchase_df.groupby(["Age Group"])
    
total_purchases = age_group["Age Group"].value_counts()
total_purchases

total_purchase_value = age_group["Price"].sum()
total_purchase_value

avg_purchase_price = total_purchase_value/total_purchases



#age_avg_purchase_price = purchase_df["Age Group"].sum()/age_no_of_purchases_total
#age_avg_purchase_price

In [ ]:
#create a summary table
agegrp_summary_table = pd.DataFrame({"Purchase Count": total_purchases,
                                    "Average Purchase Price": avg_purchase_price})
                                    #"Total Purchase Value": total_purchase_value})
                                    #"Total Avg Purchase per Person": age_avg_purchase_person})
                                            #["{0:.2f}%.format"]})
agegrp_summary_table

In [ ]:
#Top Spenders
    #Run basic calculations to obtain the results in the table below
    #Create a summary data frame to hold the results
    #Sort the total purchase value column in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the summary data frame

top_spenders_df = purchase_df[["Player Name", "Purchase ID", "Price"]]
top_spenders_df.groupby(["Player Name"])

# Series object


#DF Objects
total_purchases_player = top_spenders_df["Player Name"].value_counts()
total_purchases_player.head()

total_purchase_value = top_spenders_df.groupby(["Player Name"])["Price"].sum()
total_purchase_value

avg_purchase_price = total_purchase_value/total_purchases_player
avg_purchase_price.head()

top_spenders_df.info()
top_spenders_df.head()

In [ ]:
#create summary table
top_spender_summary_table_df = pd.DataFrame ({"Purchase Count": total_purchases_player,
                                           "Average Purchase Price": avg_purchase_price,
                                           "Total Purchase Value": total_purchase_value}) 
                                            

top_spender_summary_table_df.sort_values(["Total Purchase Value"],ascending=False).head()

In [ ]:
#Most popular items:
    #Retrieve the Item ID, Item Name, and Item Price columns
    #Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
    #Create a summary data frame to hold the results
    #Sort the purchase count column in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the summary data frame

most_popular_df = purchase_df[["Item ID", "Item Name", "Price"]]

most_popular_df.groupby(["Item ID"])

purchase_cnt = most_popular_df["Item ID"].value_counts()
#purchase_cnt.head()

item_price = most_popular_df.groupby(["Item ID"])["Price"].first()
item_name = most_popular_df.groupby(["Item ID"])["Item Name"].first()
item_purchase_value = most_popular_df.groupby(["Item ID"])["Price"].sum()

#create summary table
most_popular_summary_table_df = pd.DataFrame ({"Item Name": item_name,
                                                "Purchase Count": purchase_cnt,
                                               "Item Price": item_price,#.map("${:,.2f}".format),
                                               "Total Purchase Value": item_purchase_value})#.map("${:,.2f}".format)})
                                               
                                            
most_popular_summary_table_df.sort_values(["Purchase Count"],ascending=False).head()    

#most_popular_df.info()
#most_popular_df.head()

In [ ]:
#Most profitable items:
    #Sort the above table by total purchase value in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the data frame

most_popular_summary_table_df.sort_values(["Total Purchase Value"],ascending=False).head()

In [ ]:
print("Conclusions based on the data:")
print ("1. Most players (85%) of Heroes of Pymolie are male.")
print ("2. About 75% of players are between the ages of 15 and 30")
print ("3. Oathbreaker, Last Hope of the Breaking Storm, was the most popular and profitable item purchased.")